@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Martian+Mono:wght@100..800&family=Staatliches&display=swap');

/* *=tous les éléments de la page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martian Mono', sans-serif;
}

body {
    background-color: bisque;
}

/* 2 solutions pour chercher le h2 "Ressemblance parfaite..." */

/* 1ère solution */
/* main>section>div:last-child>h2 pour la 2e div */
main > section > div:last-child >h2 {
    font-family: 'Staatliches';
}

/* 2ème solution */
/* #= id, le nom de l'id HTML ensuite */
#ressemblance {
    font-family: 'Martian Mono', sans-serif;
}

/* Les NTH = nth = N ième */
main>section> div:nth-child(2) {
    color: brown;
}

/* 2 solutions si on a un CSS identique pour plusieurs éléments */

/* 1ère solution : aller chercher chaque élément à la main séparés par '>' (qui veut dire passons au prochain élément) */
main>section>div:first-child>h2,main>section>div:first-child>p {
    color: orangered;
}

/* 2ème solution: Les classes*/
.center {
    text-align: center;
}

.rouge {
    color: chocolate;
}

/* header>h1,main>section>div:first-child>p,main>section>div:last-child>h2 { */

/* id=marge-h2 */
#marge-h2 {
    background-color: rgb(224, 222, 66);
    margin: 20px;
}

/* VRAI CSS */

nav ul {
    display: flex;
    flex-direction: row;  /*Disposition en ligne (par défaut quand on met display:flex), si on veut changer on a le mode 'column'*/
    justify-content: space-evenly; /*Justify-content aligne les élément flex horizontalement SEULEMENT si flex-direction est en row, sinon il agit verticalement en cas de column*/
    list-style:none; 
    align-items: center; /*comme justify-content mais verticalement SAUF si flex-direction est column, dans ce cas il agira horizontalement*/

}

/* nav ul li { 
   list-style-type: lower-greek;
}
*/

a {
    text-decoration: none;
    color:peru;
    font-size: 21.5px;
}

/* hover : pseudo-class qui permet de changer le CSS lors d'un survol à la souris */

li:hover {
    transform: scale(1.2);
}

.liens:hover {
    color:purple;
}

/* Background image */

#img-dahmer {
    background-image: url(../img/dahmer.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    border-radius: 30%;
}

#marge-h2 {
    width: fit-content;
    margin: 20px auto;
}

/* Margin (et padding) : plusieurs façons de faire : 
pour le 4 mêmes (haut,droite,bas,gauche) -> margin: 10px 20px 
pour cibler chacun -> margin: 10px 30px 40px 20px
pour les margin/padding à 0 -> margin: 0
*/

/* Grid */

main>section>div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 0;
}
